FATAL_ERROR 	{color:red;	margin-left:3cm;font-size:large;display:block}
ERROR		{color:red;  	margin-left:2cm;font-size:large;display:block}
WARNING		{color:blue; 	margin-left:1cm;font-size:large;display:block}
INFO		{color:green;	margin-left:1cm;font-size:large;display:block}
